@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.formulario {
  min-width: 40%;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
}

.formulario > div {
  margin-bottom: 20px;
}

.formulario label {
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  color: #1f1f1f;
}

.formulario input,
.formulario textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #b4b1b1;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 5px;
  color: #1f1f1f;
}

.formulario input:focus {
  outline: none;
}

.formulario .error {
  color: #e92b2d;
  font-weight: 600;
  font-size: 12px;
}

.formulario button[type='submit'] {
  display: block;
  background: #a3a2a2;
  font-weight: normal;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  transition: 0.3s ease all;
}

.formulario button[type='submit']:hover {
  background: rgb(57, 57, 58);
}

.formulario .exito {
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
  color: #02a802;
}

.formulario input[type='radio'] {
  width: auto;
}
