@import '../Vars.scss';

.main_Modal {
  width: 100%;
  height: 25em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5em;

  .main_Modal__slider {
    width: 100%;
    height: 100%;

    div {
      height: 100%;

      img {
        margin: 0 auto;
        min-width: 60%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
