.card-item {
  width: 260px;
  height: 380px;
  border-radius: 25px;
  margin: 0 25px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
  text-align: center;
  border: 1px solid rgb(201, 193, 193);

  img {
    width: 100%;
    height: 75%;
    object-fit: cover;
  }

  h2 {
    color: black;
    cursor: default;
    margin: 10px 0 4px;
    font-size: 19px;
    font-weight: 600;
  }

  .contenedor {
    margin: 0 auto;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .contenedor__price {
      color: black;

      h5 {
        font-size: 12px;
        font-weight: normal;
        color: #979696;
      }
      p {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }

  button {
    border: none;
    margin: 0px 5px;
    cursor: pointer;
    padding: 5px 10px;
    background-color: white;

    img {
      width: 30px;
      height: 30px;
      margin-right: 5px;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.bestSellers {
  border: 1px solid rgb(73, 72, 72);
}

// TODO: Add a hover effect to the card item
// TODO: Add a style for bestSellers
