@import '../Vars.scss';

.card-item {
  width: 260px;
  height: 400px;
  border-radius: 25px;
  margin: 25px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  -webkit-box-shadow: 2px 6px 40px -4px #000000;
  box-shadow: 2px 6px 20px -4px #000000;

  .slider {
    overflow: hidden;
    height: 70%;
    ul {
      display: flex;
      width: 300%;
      //animation: cambio 2s infinite linear;

      li {
        width: 100%;
        list-style: none;
        img {
          width: 100%;
          height: 70%;
          object-fit: cover;
        }
      }
    }
  }

  h2 {
    color: black;
    cursor: default;
    margin: 5px 0;
    font-size: 19px;
    font-weight: 600;
  }

  .contenedor {
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .contenedor__price {
      color: black;

      h5 {
        font-size: 12px;
        font-weight: normal;
        color: #979696;
      }
      p {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }

  button {
    border: none;
    margin: 0px 5px;
    cursor: pointer;
    background-color: white;

    img {
      width: 30px;
      height: 30px;
      margin-right: 5px;
    }
  }

  .options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 35px;

    select {
      outline: none;
      width: 50px;
      text-align: center;
      border: none;
      border-radius: 10px;
      padding: 5px;
      background-color: $textColor;
    }

    .contenedor__cantidad {
      input {
        outline: none;
        width: 50px;
        text-align: center;
        border: none;
        border: 2px solid rgb(12, 12, 12);
        border-radius: 10px;
        padding: 5px;
      }
    }
  }
}

.bestSellers {
  border: 1px solid rgb(158, 158, 158);
}

.stock {
  border: 1px solid rgb(121, 8, 8);
  box-shadow: none;

  .slider {
    ul {
      li {
        img {
          filter: grayscale(100%);
        }
      }
    }
  }
}

.isStock {
  color: rgb(158, 158, 158);
}

@media (max-width: 768px) {
  .contenedor__price {
    h5 {
      margin-top: 10px;
    }
  }

  .card-item {
    width: 95%;
    margin: 0 auto;
    height: 650px;
    margin-bottom: 25px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 25px;

    .options {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      margin-top: 10px;

      select {
        width: 60px;
        padding: 10px;
      }

      .contenedor__cantidad {
        input {
          width: 60px;
          text-align: center;
          border: none;
          border: 2px solid rgb(12, 12, 12);
          border-radius: 10px;
          padding: 10px;
        }
      }
    }

    .slider {
      overflow: hidden;
      height: 75%;

      ul {
        display: flex;
        width: 300%;
        animation: cambio 10s infinite alternate linear;

        li {
          width: 100%;
          list-style: none;

          img {
            width: 100%;
            height: 80%;
            object-fit: cover;
          }
        }
      }
    }

    h2 {
      color: black;
      cursor: default;
      margin: 5px 0;
      font-size: 19px;
      font-weight: 600;
    }
  }
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  100% {
    margin-left: 0;
  }
}
