@import '../Vars.scss';

.categories__title {
  margin: 0 0 50px 0;
  font-size: 35px;
}

.categories__container {
  display: flex;
  justify-content: center;
  width: 100%;
  .categories__container--item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 10px;
    border-radius: 5px;
    background-color: $black;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: black;
    }

    span {
      color: white;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .categories__title {
    font-size: 30px;
    margin: 0 0 15px 0;
  }

  .categories__container {
    overflow-x: scroll;
    justify-content: flex-start;

    .categories__container--item {
      margin: 0 5px;
    }
  }
}
