.header {
  padding: 0px 30px;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: white;

  .nav-categories {
    img {
      width: 30px;
    }
  }

  section {
    img {
      width: 100px;
    }
  }

  .nav-main {
    display: flex;
    img {
      margin: 10px;
    }
  }
}

@media (max-width: 640px) {
  .header {
    padding: 0px 15px;
    height: 40px;
  }
}
