.header {
  padding: 0 30px;
  display: flex;
  height: 100%;
  min-height: 50px;
  max-height: 75px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: white;

  section {
    img {
      width: 150px;
    }
  }

  .nav-main {
    display: flex;

    img {
      margin: 10px;
      width: 30px;
    }

    div {
      width: 20px;
      height: 20px;
      background-color: rgb(255, 0, 0);
      border-radius: 50%;
      font-size: 13px;
      font-weight: bold;
      position: absolute;
      top: 5px;
      color: white;
      right: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 786px) {
  .header {
    padding: 5px 15px;
    height: auto;
  }

  .nav-main {
    position: sticky;
  }
}
