@import '../Vars.scss';

.mainModal {
  width: 100%;
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 75px 0;

  .mainModal__slider {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;

    div {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
