.mainModal {
  background: url('https://cdn.shopify.com/s/files/1/2406/5155/files/Untitled_design_6_1400x.png?v=1634843888')
    no-repeat;
  width: 100%;
  height: calc(100vh + 200px);
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.055);
  }

  .mainModal__container {
    position: absolute;
    top: 75%;
    margin-left: 70px;
    left: 15%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    z-index: 1;

    h1 {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .buttons {
      width: 400px;
      display: flex;

      button {
        background-color: #f47026;
        font-size: 15px;
        font-weight: bold;
        padding: 14px 28px;
        margin: 20px 20px 0 0;
        border: none;
        cursor: pointer;
        z-index: 2;
        width: 130px;
        height: 50px;
      }
    }
  }
}
