@import '../Vars.scss';

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5px 0;

  select {
    outline: none;
    width: 150px;
    border: none;
    border-radius: 5px;
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #444;
    padding: 0.2em 1.4em 0.2em 0.8em;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid rgb(223, 221, 221);
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.03);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    cursor: pointer;

    &::-ms-expand {
      display: none;
    }

    &:focus {
      border-color: #aaa;
      box-shadow: 0 0 1px 1.5px rgba(59, 153, 252, 0.7);
      box-shadow: 0 0 0 3px -moz-mac-focusring;
      color: #222;
      outline: none;
    }

    option {
      font-weight: normal;

      &:disabled {
        color: rgb(8, 8, 8);
        background-color: rgb(192, 192, 192);
      }
    }
  }
}

.contenedor__cantidad {
  input {
    outline: none;
    width: 50px;
    text-align: center;
    border: 1px solid rgb(223, 221, 221);
    border-radius: 5px;
    padding: 0.4em 2px;
  }
}

.bestSellers {
  border: 1px solid rgb(158, 158, 158);
}

.stock {
  border: 1px solid rgb(255, 0, 0);
  box-shadow: none;

  .slider {
    ul {
      li {
        img {
          filter: grayscale(100%);
        }
      }
    }
  }
}

.isStock {
  color: rgb(158, 158, 158);
  font-weight: 500;
}

@media (max-width: 768px) {
  .options {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;

    select {
      width: 50%;
      padding: 1em 0;
      text-align: center;
    }

    .contenedor__cantidad {
      input {
        width: 60px;
        text-align: center;
        border: none;
        border: 2px solid rgb(12, 12, 12);
        border-radius: 10px;
      }
    }
  }
}
