.checkout-container {
  width: 100%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-weight: 300;
  }

  .mm {
    display: flex;

    .overflow--checkout {
      width: 60%;
      max-height: calc(100vh - 200px);
      overflow: scroll;
    }
  }
}

h1 {
  margin: 65px 0 25px;
}
