.checkout-container {
  width: 100%;
  display: flex;
  margin-top: 100px;
  padding: 0 80px;
  justify-content: space-between;

  .checkout-cart {
    width: 100%;
    height: calc(100vh - 100px);
    overflow: scroll;
  }
}

@media (max-width: 768px) {
  .checkout-container {
    padding: 0;
    flex-direction: column-reverse;

    .checkout-cart {
      width: 100%;
      height: auto;
      overflow: scroll;
    }
  }
}
