.product-list {
  width: 100%;
  padding: 30px;
  position: relative;
  text-align: center;

  .container__productList {
    white-space: nowrap;
    margin: 70px 0px;
    overflow: scroll;
    padding-bottom: 10px;
    margin-left: 50px;
    overflow-y: hidden;
  }

  .product-list_button {
    width: 260px;
    height: 47px;
    background-color: #282828;
    color: white;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.allItems {
  width: 100%;
  padding: 30px;
  text-align: center;
  word-wrap: prewrap;

  .container__allProducts {
    margin: 70px 0px;
    padding-bottom: 70px;
    margin-left: 50px;
    overflow-y: hidden;
  }
}
